<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lemonade Web Information</title>
</head>
<body>
    <header>
        <h1>Show Information about Types of Lemon</h1>
    </header>

    <form action="/checkinfo" method="POST">
        <input type="text" name="name" placeholder="Types of lemon.." autofocus autocomplete="off">
        <input type="submit" name="submit-btn" value="Open Information">
    </form>

    <br>
    <br>
    <br>
    <hr>
    <p>The request method: {{.Method}}</p>
    <p>The request URL:</p>
    <ul>
        <li>Scheme: {{.URL.Scheme}}</li>
        <li>Opaque: {{.URL.Opaque}}</li>
        <li>Host: {{.URL.Host}}</li>
        <li>Path: {{.URL.Path}}</li>
        <li>RawPath: {{.URL.RawPath}}</li>
        <li>ForceQuery: {{.URL.ForceQuery}}</li>
        <li>RawQuery: {{.URL.RawQuery}}</li>
        <li>Fragment: {{.URL.Fragment}}</li>
    </ul>
    <br>
    <br>
    <hr>
    <p>Types you can find:</p>
    <ul>
        <li>Avalon Lemon</li>
        <li>Bearss Lemon</li>
        <li>Buddha's Hand Lemon</li>
        <li>Bush Lemon</li>
        <li>Baboon Lemon</li>
        <li>Citron Lemon</li>
        <li>Dorshapo Lemon</li>
        <li>Eureka Lemon</li>
        <li>Femminello St.Teresa Lemon</li>
        <li>Meyer Lemon</li>
        <li>Fino Citron Lemon</li>   
        <li>Greek Citron Lemon</li>   
        <li>Interdonato Lemon</li>   
        <li>Limetta Lemon</li>   
        <li>Lisbon Lemon</li>   
        <li>Ponderosa Lemon</li>   
        <li>Prifomiori Lemon</li>   
        <li>Verna Lemon</li>   
        <li>Volkamer Lemon</li>   
        <li>Yen Ben Lemon</li>   
        <li>Villafranca Lemon</li>   
        <li>Kagzi Lime</li>   
    </ul>
</body>
</html>