<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lemonade Web Information</title>
</head>
<body>
    <header>
        <h1>Show Information about Types of Lemon</h1>
    </header>

    

    <form action="/checkinfo" method="POST">
        <input type="text" name="name" placeholder="Types of lemon.." autofocus autocomplete="off">
        <input type="submit" name="submit-btn" value="Open Information">
    </form>

    {{if .Submissions}}<p><strong>Newest information about</strong>:</p>
        {{range $key, $value := .Submissions}}
                {{if eq "name" $key}}
                    <ul>{{range $value}}
                            <li><em>{{.}}</em></li>
                            {{if eq "Avalon Lemon" .}}
                                <p>Native to Florida, this lemon variety is also known as Avon lemon and is close to the Lisbon lemon.<br>
                                You can find them easily in the supermarket as concentrate juice in the produce section.</p>
                            {{end}}
                            {{if eq "Bearss Lemon" .}}
                                <p>Bearss lemons are from Italy but now grown in Florida since the 1950s. <br>
                                These high-quality juicy lemons contain an ample amount of lemon oil in their peel as well. <br>
                                This is one of the popular, different types of lemons!</p>
                            {{end}}
                            {{if eq "Buddha’s Hand Lemons" .}}
                                <p>Also known as Finger Citron in many Asian countries, this variety is native to Himalayan lower regions. <br>
                                This fragrant lemon variety resembles fingers, the rind and pith both are useful as it does not contain any seeds or juice. <br>
                                These lemons are grown in China and considered a symbol of happiness and fortune.</p>
                            {{end}}
                            {{if eq "Bush Lemon" .}}
                                <p>This lemon variety is also known as rough lemon, due to the thick and rigid appearance of the rind that has a strong flavor. <br>
                                They are wild-growing species, found in subtropical regions of Australia. <br>
                                Bush lemons do not contain much juice and mainly used for transplanting other lemons.</p>
                            {{end}}
                            {{if eq "Baboon Lemons" .}}
                                <p>The baboon lemons are endemic to Brazil and have bright yellow skin and sour flavor that tastes like lime. <br>
                                Its rind and pulp are used in the preparation of several types of sauces, such as barbeque and pasta sauce.</p>
                            {{end}}
                            {{if eq "Citron Lemons" .}}
                                <p>Citron lemons belong to India and Himalayas. <br>
                                They are the primary variety of ‘Buddha’s Hand,’ Greek Citron, Corsicans, and Yemenite Citron. Every part of citron lemon is useful, and nothing goes to waste. <br>
                                They are mainly grown for their rind and hardly produce any juice.</p>
                            {{end}}
                            {{if eq "Dorshapo Lemons" .}}
                                <p>Dorshapo is native to Brazil and discovered by three plant explorers named; Dorsett, Shamel, and Popenoe; hence the name. Its flavor is sweet and not acidic. <br>
                                This is one of the popular, different types of lemons!</p>
                            {{end}}
                            {{if eq "Eureka Lemons" .}}
                                <p>Eureka lemons grow all over the world, excluding a few Mediterranean countries, Italy and Spain. They resemble the Lisbon lemon. The thornless tree carries fruit year-round. <br>
                                Also, Eureka lemons are a popular variety and you can find them in every store.</p>
                            {{end}}
                            {{if eq "Femminello St. Teresa Lemons" .}}
                                <p>The medium-sized, sour, and tart flavored Femminello lemons are native to Italy. They have acidic flavor and thick skin. <br>
                                These lemons are only popular in Italy and less famous in other parts of the world.</p>
                            {{end}}
                            {{if eq "Meyer lemon" .}}
                                <p>Meyer lemon is a crossbreed between citron and mandarin orange; it has a smooth golden edible skin, no tartness like common lemons, and a good amount of juice. <br>
                                You can use this sweet, fragrant lemon in desserts, sauces, roasts, and salads.</p>
                            {{end}}
                            {{if eq "Fino Citron Lemons" .}}
                                <p>The fino citron lemons contain less juice and more seeds, though they are acidic and taste good. They are close to Verna lemons. <br>
                                The tree has lots of thorns; hence its difficult to pick the fruits easily.</p>
                            {{end}}
                            {{if eq "Greek Citron Lemons" .}}
                                <p>Also known as Corfu Etrog or Etrog, this variety was first introduced in 500 BCE in Greece circa and later on supplied to many European countries. <br>
                                This lemon variety is used in Greek temples as a fruit offering and also in many rituals in several countries.</p>
                            {{end}}
                            {{if eq "Interdonato Lemons" .}}
                                <p>Interdonato lemons belong to Italy and largely found in Sicily. The large lemons have seedless flesh and smooth skin. Besides that, they have a mildly bitter flavor and very little to no juice. <br>
                                This is one of the popular, different types of lemons!</p>
                            {{end}}
                            {{if eq "Limetta Lemons" .}}
                                <p>Limetta lemons are originated in Southeast Asia. They are mainly grown in Mediterranean countries and India. They are also called as sweet lemons due to their non-acidic taste. The rind contains a great amount of lemon oil. <br>
                                You can enjoy these lemons-like any other fruit.</p>
                            {{end}}
                            {{if eq "Lisbon Lemons" .}}
                                <p>Lisbon lemons have a very acidic taste and no seeds. The peel has a medium thickness. Its tree does well in cool temperatures and has many thorns. <br>
                                These lemons have two times of harvest in a year.</p>
                            {{end}}
                            {{if eq "Ponderosa Lemons" .}}
                                <p>Ponderosa lemons were discovered in Maryland in the late 1800s. This variety is said to be a hybrid between citron and lemon but this information is not verified yet. <br>
                                They resemble bush lemon due to the thick and rigid skin. <br>
                                The tree is not preferred to be grown in cooler climates.</p>
                            {{end}}
                            {{if eq "Primofiori Lemon" .}}
                                <p>Native to Spain, Primofiori is popular for having a soft and thin peel. The fruit is acidic and contains a good amount of juice. <br>
                                The name implies ‘first flowers’ since the fruit ripens first during the harvest season. 
                                This is one of the popular, different types of lemons!</p>
                            {{end}}
                            {{if eq "Verna Lemons" .}}
                                <p>Verna lemons have a thick rind, fewer seeds, and contain plenty of juice. <br>
                                The tree produces fruits twice and sometimes thrice a year, though the latter is rare. <br>
                                These lemons are acidic and close to Eureka variety.</p>
                            {{end}}
                            {{if eq "Volkamer Lemons" .}}
                                <p>Native to Italy, Volkamer lemons are round and small in shape. <br>
                                They are a cross between a lemon and sour orange, having a low acidic content. <br>
                                This is one of the popular, different types of lemons!</p>
                            {{end}}
                            {{if eq "Yen Ben Lemons" .}}
                                <p>Yen Ben lemons have very thin and have smooth skin. <br>
                                They are popular for their juiciness that can be stored for a long time. <br>
                                This lemon variety produces fruits two times a year during fall and winter.</p>
                            {{end}}
                            {{if eq "Villafranca lemons" .}}
                                <p>Villafranca lemons are a sub-variant of Eureka lemons. <br>
                                The acid content of this variety is lower than Eureka lemons, but the skin looks quite similar to the main cultivar. <br>
                                Besides that, these lemons are classified as a winter crop, since the tree only produces fruit in cool climates.</p>
                            {{end}}
                            {{if eq "Kagzi Lime" .}}
                                <p>Kagzi lime is quite popular in India and serves as an important fruit crop, thanks to its nutritional and medicinal value. <br>
                                It is also bigger as compared to the other limes and offers a pleasing flavor as well. <br>
                                Its juice is famous to ease out the irritation and swelling caused by the mosquito bites.</p>
                            {{end}}
                        {{end}}
                    </ul>
                {{end}}     
        {{end}}
    {{end}}

    <br>
    <br>
    <br>
    <hr>
    <p>The request method: {{.Method}}</p>
    <p>The request URL:</p>
    <ul>
        <li>Scheme: {{.URL.Scheme}}</li>
        <li>Opaque: {{.URL.Opaque}}</li>
        <li>Host: {{.URL.Host}}</li>
        <li>Path: {{.URL.Path}}</li>
        <li>RawPath: {{.URL.RawPath}}</li>
        <li>ForceQuery: {{.URL.ForceQuery}}</li>
        <li>RawQuery: {{.URL.RawQuery}}</li>
        <li>Fragment: {{.URL.Fragment}}</li>
    </ul>

    <br>
    <br>
    <hr>
    <p>Types you can find:</p>
    <ul>
        <li>Avalon Lemon</li>
        <li>Bearss Lemon</li>
        <li>Buddha's Hand Lemon</li>
        <li>Bush Lemon</li>
        <li>Baboon Lemon</li>
        <li>Citron Lemon</li>
        <li>Dorshapo Lemon</li>
        <li>Eureka Lemon</li>
        <li>Femminello St.Teresa Lemon</li>
        <li>Meyer Lemon</li>
        <li>Fino Citron Lemon</li>   
        <li>Greek Citron Lemon</li>   
        <li>Interdonato Lemon</li>   
        <li>Limetta Lemon</li>   
        <li>Lisbon Lemon</li>   
        <li>Ponderosa Lemon</li>   
        <li>Prifomiori Lemon</li>   
        <li>Verna Lemon</li>   
        <li>Volkamer Lemon</li>   
        <li>Yen Ben Lemon</li>   
        <li>Villafranca Lemon</li>   
        <li>Kagzi Lime</li>   
    </ul>
    <br>
    <br>
    <hr>
    {{range $k, $v := .Header}}
        {{$k}}
        <ul>
        {{range $v}}
            <li>{{.}}</li>
        {{end}}
        </ul>
    {{end}}
</body>
</html>