<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lemonade Web Information</title>
</head>
<body>
    <header>
        <h1>Show Information about Types of Lemon</h1>
    </header>

    

    <form action="/checkinfo" method="POST">
        <input type="text" name="name" placeholder="Types of lemon.." autofocus autocomplete="off">
        <input type="submit" name="submit-btn" value="Open Information">
    </form>

    {{if .Submissions}}<p><strong>Newest information about</strong>:</p>
        {{range $key, $value := .Submissions}}
                {{if eq "name" $key}}
                    <ul>{{range $value}}
                            <li><em>{{.}}</em></li>
                            {{if eq "Avalon Lemon" .}}
                                <p>Native to Florida, this lemon variety is also known as Avon lemon and is close to the Lisbon lemon. 
                                You can find them easily in the supermarket as concentrate juice in the produce section.</p>
                            {{end}}
                            {{if eq "Bearss Lemon" .}}
                                <p>Bearss lemons are from Italy but now grown in Florida since the 1950s. 
                                These high-quality juicy lemons contain an ample amount of lemon oil in their peel as well. 
                                This is one of the popular, different types of lemons!</p>
                            {{end}}
                            {{if eq "Buddha’s Hand Lemons" .}}
                                <p>Also known as Finger Citron in many Asian countries, this variety is native to Himalayan lower regions. 
                                This fragrant lemon variety resembles fingers, the rind and pith both are useful as it does not contain any seeds or juice. 
                                These lemons are grown in China and considered a symbol of happiness and fortune.</p>
                            {{end}}
                            {{if eq "Bush Lemon" .}}
                                <p>This lemon variety is also known as rough lemon, due to the thick and rigid appearance of the rind that has a strong flavor. 
                                They are wild-growing species, found in subtropical regions of Australia. 
                                Bush lemons do not contain much juice and mainly used for transplanting other lemons.</p>
                            {{end}}
                            {{if eq "Baboon Lemons" .}}
                                <p>The baboon lemons are endemic to Brazil and have bright yellow skin and sour flavor that tastes like lime. 
                                Its rind and pulp are used in the preparation of several types of sauces, such as barbeque and pasta sauce.</p>
                            {{end}}
                            {{if eq "Citron Lemons" .}}
                                <p>Citron lemons belong to India and Himalayas. 
                                They are the primary variety of ‘Buddha’s Hand,’ Greek Citron, Corsicans, and Yemenite Citron. Every part of citron lemon is useful, and nothing goes to waste. 
                                They are mainly grown for their rind and hardly produce any juice.</p>
                            {{end}}
                            {{if eq "Dorshapo Lemons" .}}
                                <p>Dorshapo is native to Brazil and discovered by three plant explorers named; Dorsett, Shamel, and Popenoe; hence the name. Its flavor is sweet and not acidic. 
                                This is one of the popular, different types of lemons!</p>
                            {{end}}
                            {{if eq "Eureka Lemons" .}}
                                <p>Eureka lemons grow all over the world, excluding a few Mediterranean countries, Italy and Spain. They resemble the Lisbon lemon. The thornless tree carries fruit year-round. 
                                Also, Eureka lemons are a popular variety and you can find them in every store.</p>
                            {{end}}
                            {{if eq "Femminello St. Teresa Lemons" .}}
                                <p>The medium-sized, sour, and tart flavored Femminello lemons are native to Italy. They have acidic flavor and thick skin. 
                                These lemons are only popular in Italy and less famous in other parts of the world.</p>
                            {{end}}
                            {{if eq "Meyer lemon" .}}
                                <p>Meyer lemon is a crossbreed between citron and mandarin orange; it has a smooth golden edible skin, no tartness like common lemons, and a good amount of juice. 
                                You can use this sweet, fragrant lemon in desserts, sauces, roasts, and salads.</p>
                            {{end}}
                            {{if eq "Fino Citron Lemons" .}}
                                <p>The fino citron lemons contain less juice and more seeds, though they are acidic and taste good. They are close to Verna lemons. 
                                The tree has lots of thorns; hence its difficult to pick the fruits easily.</p>
                            {{end}}
                            {{if eq "Dorshapo Lemons" .}}
                                <p>Dorshapo is native to Brazil and discovered by three plant explorers named; Dorsett, Shamel, and Popenoe; hence the name. Its flavor is sweet and not acidic. 
                                This is one of the popular, different types of lemons!</p>
                            {{end}}
                            {{if eq "Dorshapo Lemons" .}}
                                <p>Dorshapo is native to Brazil and discovered by three plant explorers named; Dorsett, Shamel, and Popenoe; hence the name. Its flavor is sweet and not acidic. 
                                This is one of the popular, different types of lemons!</p>
                            {{end}}
                        {{end}}
                    </ul>
                {{end}}     
        {{end}}
    {{end}}

    <br>
    <br>
    <br>
    <hr>
    <p>The request method: {{.Method}}</p>
    <p>The request URL:</p>
    <ul>
        <li>Scheme: {{.URL.Scheme}}</li>
        <li>Opaque: {{.URL.Opaque}}</li>
        <li>Host: {{.URL.Host}}</li>
        <li>Path: {{.URL.Path}}</li>
        <li>RawPath: {{.URL.RawPath}}</li>
        <li>ForceQuery: {{.URL.ForceQuery}}</li>
        <li>RawQuery: {{.URL.RawQuery}}</li>
        <li>Fragment: {{.URL.Fragment}}</li>
    </ul>

    <br>
    <br>
    <hr>
    <p>Types you can find:</p>
    <ul>
        <li>Avalon Lemon</li>
        <li>Bearss Lemon</li>
        <li>Buddha's Hand Lemon</li>
        <li>Bush Lemon</li>
        <li>Baboon Lemon</li>
        <li>Citron Lemon</li>
        <li>Dorshapo Lemon</li>
        <li>Eureka Lemon</li>
        <li>Femminello St.Teresa Lemon</li>
        <li>Meyer Lemon</li>
        <li>Fino Citron Lemon</li>   
        <li>Greek Citron Lemon</li>   
        <li>Interdonato Lemon</li>   
        <li>Limetta Lemon</li>   
        <li>Lisbon Lemon</li>   
        <li>Ponderosa Lemon</li>   
        <li>Prifomiori Lemon</li>   
        <li>Verna Lemon</li>   
        <li>Volkamer Lemon</li>   
        <li>Yen Ben Lemon</li>   
        <li>Villafranca Lemon</li>   
        <li>Kagzi Lime</li>   
    </ul>
    <br>
    <br>
    <hr>
    {{range $k, $v := .Header}}
        {{$k}}
        <ul>
        {{range $v}}
            <li>{{.}}</li>
        {{end}}
        </ul>
    {{end}}
</body>
</html>