<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Lemon Bar</title>
</head>
<body>
    <h3>Welcome! Please register your name here</h3>
    <form method="post" action="/signup">
        <input type="email" name="email" placeholder="email"><br>
        <input type="text" name="firstname" placeholder="first name"><br>
        <input type="text" name="lastname" placeholder="last name"><br>
        <input type="text" name="password" placeholder="password"><br>
        <input type="submit">
    </form>

    {{if .FirstName}}
    EMAIL {{.Email}}<br>
    FIRST {{.FirstName}}<br>
    LAST {{.LastName}}<br>
    {{end}}

    <br>
    <h2>Go to <a href="/atthebar">the bar</a></h2>
    <h2>Go to <a href="/login">login page</a></h2>
</body>
</html>