<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    {{range .}}
        <div> Academic Year {{.AcaYear}} </div>
        <div> {{.Fall.Term}} </div>
        {{range .Fall.Courses}}
            {{.Name}}
        {{end}}
    {{end}}
</body>
</html>