<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    {{range .}}
        <div>{{ .Location }}</div>
        <div>{{ .Name }}</div>
        <div>{{ .MarketLocation | .DoubleMarket }}</div>
    {{end}}
    
</body>
</html>