<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div> List Commodity di Pasar Bandung Th 2017 </div>
    <div>{{ .marketNumber }}</div>
</body>
</html>